@import '../../../../styles/Variables.scss';
@import '../../../../styles/Mixins.scss';

.navbar {
  background-color: $navbar-bg;
  .navbar-items {
    @include flexRow;
    gap: 1rem;
    padding: 1rem;

    .navbar-item {
      .passive-navbar-item {
        @include passiveNavbar;
      }

      .active-navbar-item {
        @include activeNavbar;
      }
    }
  }
}