@import "../../../styles/Variables.scss";
@import "../../../styles/Mixins.scss";

.add-purchase-modal {
  @include modal;

  .add-purchase-popup-box {
    @include popupBox;
    width: 700px;
  

    .close {
      @include closeModal;
    }

    .add-purchase-popup-box-title {
      @include title;
    }

    .add-purchase-form {
      @include flexColumn;

      .inputs-wrapper {
        @include twoGridTemplateEqualColumns;
     

        .input-container {
          @include inputContainer;
          .icon {
            @include inputIcon;
          }

          .input-field {
            @include inputField;
          }

          .input-label {
            @include inputLabel;
          }

          .input-highlight {
            @include inputHighlight;
          }

          .input-field:focus + .input-label {
            top: -0.4rem;
            font-size: $sfs;
            color: $gray;
          }

          .input-field:focus + .input-label + .input-highlight {
            width: 100%;
          }
        }
      }

      // Textarea input container
      .input-textarea-container {
        @include inputContainer;

        .icon {
          @include inputIcon;
        }

        .textarea-input-field {
          @include inputField;
        }

        .textarea-input-label {
          @include inputLabel;
        }

        .textarea-input-highlight {
          @include inputHighlight;
        }

        .textarea-input-field:focus + .textarea-input-label {
          top: -0.4rem;
          font-size: $sfs;
          color: $gray;
        }

        .textarea-input-field:focus
          + .textarea-input-label
          + .textarea-input-highlight {
          width: 100%;
        }
      }

      // Consent checkbox container

      .input-consent {
        @include flexRow;

        .checkbox {
          @include checkbox;
        }

        .accept {
          @include termOfUse;
          color: $black;
        }

        .terms-of-user {
          @include termOfUse;
        }
      }

      .add-new-purchase-btn {
        @include button1;
      }
    }
  }
}
