@import "../../../../styles/Variables.scss";
@import "../../../../styles/Mixins.scss";

.All-invoices-container {
  .invoices-title {
    @include title;
    font-size: $afs;
  }

  .add-invoice-wrapper {
    @include flexSpaceBetween;

    .add-invoice-title {
      @include subTitle;
    }

    .add-invoice-btn {
      @include button2;
      display: flex;
      align-items: center;
      gap: 0.2rem;

      .icon {
        font-size: $afs;
        color: $green;
      }
    }
  }

  .invoices-list-table-wrapper {
    .invoices-list-table-title {
    }
  }
}
