@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.change-password-container {
  width: 70%;
  margin: 1rem auto;
  @include shadow2;
  padding: 2rem;

  .change-password-title {
    @include subTitle;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }

  .change-password-form {
    @include flexColumn;

    .input-container {
      @include inputContainer;
      .input-icon {
        @include inputIcon;
      }

      .input-field {
        @include inputField;
      }

      .input-label {
        @include inputLabel;
      }

      .input-highlight {
        @include inputHighlight;
      }

      .password-display {
        @include passwordDisplay;
      }

      .input-field:focus + .input-label {
        top: -0.4rem;
        font-size: $sfs;
        color: $gray;
      }

      .input-field:focus + .input-label + .input-highlight {
        width: 100%;
      }
    }

    .change-password-btn {
      @include button1;

      .loading {
        @include loader;
      }
    }
  }
}